<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tl.dao.ProductDao">
    <resultMap id="BaseResultMap" type="com.tl.pojo.Product">
        <constructor>
            <idArg column="pid" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ptitle" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pimage" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pcount" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="price" jdbcType="DOUBLE" javaType="java.lang.Double"/>
            <arg column="psummary" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pdesc" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="uid" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ctime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="mtime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>

    <update id="updateProductCountByPid">
        update product set pcount=pcount-#{1,jdbcType=INTEGER}
        where pid=#{0,jdbcType=VARCHAR}
    </update>

    <select id="getProductById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from product where pid = #{pid,jdbcType=VARCHAR}
    </select>

    <delete id="remove" parameterType="java.lang.String">
        delete from product where pid = #{pid,jdbcType=VARCHAR}
    </delete>

    <select id="listAllProduct" resultMap="BaseResultMap">
        select * from product
    </select>

    <select id="getProductByOwnerId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from product where uid = #{uid,jdbcType=VARCHAR}
    </select>

    <sql id="Base_Column_List">
    pid, ptitle, pimage,pcount, price, psummary, pdesc, uid, ctime, mtime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from product
        where pid = #{pid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product
    where pid = #{pid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.tl.pojo.Product">
    insert into product (pid, ptitle, pimage,
      price, psummary, pdesc,
      uid, ctime, mtime
      )
    values (#{pid,jdbcType=VARCHAR}, #{ptitle,jdbcType=VARCHAR}, #{pimage,jdbcType=VARCHAR},
      #{pcount,jdbcType=INTEGER},#{price,jdbcType=DOUBLE}, #{psummary,jdbcType=VARCHAR}, #{pdesc,jdbcType=VARCHAR},
      #{uid,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.tl.pojo.Product">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                pid,
            </if>
            <if test="ptitle != null">
                ptitle,
            </if>
            <if test="pimage != null">
                pimage,
            </if>
            <if test="pcount != null">
                pcount,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="psummary != null">
                psummary,
            </if>
            <if test="pdesc != null">
                pdesc,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="mtime != null">
                mtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                #{pid,jdbcType=VARCHAR},
            </if>
            <if test="ptitle != null">
                #{ptitle,jdbcType=VARCHAR},
            </if>
            <if test="pimage != null">
                #{pimage,jdbcType=VARCHAR},
            </if>
            <if test="pcount != null">
                #{pcount,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="psummary != null">
                #{psummary,jdbcType=VARCHAR},
            </if>
            <if test="pdesc != null">
                #{pdesc,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="mtime != null">
                #{mtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tl.pojo.Product">
        update product
        <set>
            <if test="ptitle != null">
                ptitle = #{ptitle,jdbcType=VARCHAR},
            </if>
            <if test="pimage != null">
                pimage = #{pimage,jdbcType=VARCHAR},
            </if>
            <if test="pcount != null">
                pcount = #{pcount,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="psummary != null">
                psummary = #{psummary,jdbcType=VARCHAR},
            </if>
            <if test="pdesc != null">
                pdesc = #{pdesc,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="mtime != null">
                mtime = #{mtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where pid = #{pid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tl.pojo.Product">
    update product
    set ptitle = #{ptitle,jdbcType=VARCHAR},
      pimage = #{pimage,jdbcType=VARCHAR},
      pcount = #{pcount,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      psummary = #{psummary,jdbcType=VARCHAR},
      pdesc = #{pdesc,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP}
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
</mapper>
